<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forumbackend.Mapper.UserInfoMapper">
    <update id="addzan">
        update user_info
        set user_zan=user_zan+1
        where user_id=#{uid}
    </update>

    <update id="subzan">
       update user_info
        set user_zan=user_zan-1
        where user_id=#{uid}
    </update>

    <update id="addpoint">
        update user_info
        set user_point=user_point+#{extra}
        where where user_id=#{uid}
    </update>

    <update id="addbalance">
        update user_info
        set user_balance=user_balance+#{extra}
        where where user_id=#{uid}
    </update>



</mapper>

